* {
  box-sizing: border-box;
}

body {
  background-color: #eee;
  color: #333;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: normal;
}

/* header */

nav {
  background-color: #5e3eda;
  height: 40px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 18px 0 10px;
}

nav #alarmButtonWrapper {
  position: relative;
  cursor: pointer;
}

nav #alarmButtonWrapper #alarmButtonCount {
  width: 15px;
  height: 15px;
  background-color: #cc2b2b;
  border-radius: 15px;
  font-size: 11px;
  color: white;
  text-align: center;
  line-height: 14px;
  position: absolute;
  top: -4px;
  left: 12px;
}

nav #logoImage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

nav #noticeListWrapper {
  display: none;
}

nav #noticeListWrapper.active {
  display: block;
  position: absolute;
  top: 40px;
  right: 0;
  width: 300px;
  height: 150px;
  overflow-y: auto;
  background-color: white;
  border-radius: 5px 0 5px 5px;
  font-size: 12px;
  box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.1);
}

nav #noticeListWrapper li {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 10px;
  border-bottom: 1px solid#eee;
  cursor: pointer;
}

nav #noticeListWrapper li .noticeImage {
  background-color: #eee;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

/* index */

#searchWrapper {
  background-color: #5e3eda;
  height: 150px;
  position: relative;
}

#searchWrapper #mainSearchWrapper {
  height: 40px;
  width: 90%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

#searchWrapper #mainSearchWrapper #searchButton {
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;
}

#searchWrapper #mainSearchWrapper #mainSearch {
  background-color: white;
  border-radius: 5px;
  padding: 0 45px 0 10px;
  width: 100%;
  height: 40px;
  font-size: 12px;
  border: none;
  outline: none;
}

#searchWrapper #mainSearch::placeholder {
  opacity: 0.5;
}

.noticeBar {
  background-color: #f07b3f;
  height: 30px;
  padding: 0 5px;
}

.noticeBar a {
  font-size: 12px;
  color: white;
  line-height: 30px;
  text-decoration: none;
}

.subWrapper {
  border-radius: 5px;
  margin-top: 10px;
  padding: 0 20px 20px;
  background-color: white;
}

.subWrapper::after {
  content: '';
  display: block;
  clear: both;
}

.subWrapper > .title {
  border-bottom: 1px solid #eee;
  padding: 15px 0;
  font-weight: bold;
  margin-bottom: 15px;
}

.exchangeRateWrapper {
  height: 40px;
  position: relative;
}

.exchangeRateWrapper + .exchangeRateWrapper {
  margin-top: 10px;
}

.exchangeRateWrapper .country {
  line-height: 40px;
  position: absolute;
  font-size: 23px;
  top: 0;
  bottom: 0;
  left: 12px;
  margin: auto;
}

.exchangeRateWrapper .exchangeRateInput {
  width: 80%;
  height: 40px;
  margin: auto;
  border: none;
  border-radius: 40px;
  background-color: #eeeeee;
  outline: none;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding: 0 12px 0 48px;
}

.productShowWrapper {
  height: 75px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.productShowWrapper + .productShowWrapper {
  margin-top: 15px;
}

.productShowWrapper .productImage {
  width: 50px;
  height: 50px;
  background-repeat: none;
  background-position: center;
  background-size: cover;
  background-color: #eee;
  position: absolute;
  left: 10px;
  top: 12.5px;
}

.productShowWrapper .productDetails {
  position: absolute;
  left: 70px;
  top: 12.5px;
}

.productShowWrapper .productDetails .title {
  font-size: 14px;
  color: #666;
}

.productShowWrapper .productDetails .price {
  float: left;
  font-size: 12px;
  color: #999;
  margin-top: 5px;
}

.productShowWrapper .shoppingLogoImage {
  position: absolute;
  right: 15px;
  top: 0;
  bottom: 0;
  margin: auto;
}

/* product */

#productMainImageWrapper {
  height: 100vw;
  background-color: white;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#productMainImageWrapper #productMainImage {
  height: 95vw;
}

#productWrapper {
  background-color: white;
}

#productWrapper #productDetailsWrapper {
  width: 100%;
  position: relative;
  padding: 25px 20px 20px;
}

#productWrapper #productDetailsWrapper .title {
  font-size: 18px;
  font-weight: bold;
  padding-right: 60px;
}

#productDetailsWrapper #productCategoryWrapper {
  margin: 5px 0;
  padding-right: 60px;
}

#productDetailsWrapper #productCategoryWrapper .categoryTag {
  display: inline-block;
  font-size: 12px;
  padding: 5px 8px;
  background-color: #333;
  color: white;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
  margin-top: 5px;
}

#productDetailsWrapper #productPrice {
  margin: 15px 0 10px;
  font-size: 16px;
  color: #999;
  font-style: italic;
}

#productDetailsWrapper #productPrice .main {
  font-size: 30px;
  font-weight: bold;
  color: #333;
  font-style: normal;
  margin-right: 5px;
}

#productDetailsWrapper .exchangeRateDate {
  font-size: 12px;
  color: #999;
  font-style: italic;
}

#productDetailsWrapper .exchangeRateDate .main {
  font-size: 12px;
  color: #666;
  margin-right: 5px;
  font-style: normal;
  font-weight: bold;
}

#productDetailsWrapper .shipPrice {
  font-size: 12px;
  color: #999;
  margin: 5px 0 0;
}

#productDetailsWrapper .shipPrice .main {
  color: #666;
  font-weight: bold;
  margin-left: 5px;
}

#productDetailsWrapper .productOriginShop {
  position: absolute;
  right: 20px;
  top: 25px;
}

#productWrapper #productButtonWrapper {
  margin: 15px 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #eee;
  padding: 15px 0 0;
}

#productWrapper #productButtonWrapper button {
  border-radius: 5px;
  background-color: #eee;
  height: 40px;
  font-weight: bold;
  font-size: 14px;
  color: #666;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;
}

#productWrapper #productButtonWrapper button img {
  margin-right: 3px;
}

#productWrapper #productButtonWrapper .productHeartButton {
  width: 65%;
  margin-right: 10px;
}

#productWrapper #productButtonWrapper .productShareButton {
  width: 35%;
}

#productWrapper #productMainNavigationWrapper {
  height: 50px;
  border-bottom: 1px solid #eee;
  overflow-x: auto;
  overflow-y: hidden;
}

#productWrapper #productMainNavigation {
  font-size: 14px;
  color: #999;
  white-space: nowrap;
}

#productWrapper #productMainNavigation::after {
  content: '';
  display: block;
  clear: both;
}

#productWrapper #productMainNavigation li {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
}

#productWrapper #productMainNavigation li.active {
  font-weight: bold;
  color: #333;
  border-bottom: 3px solid #333;
}

#productWrapper #productMainNavigation li:first-child {
  margin-left: 20px;
}

#productWrapper #productMainNavigation li:last-child {
  margin-right: 20px;
}

#productWrapper #productMainNavigation li + li {
  margin-left: 20px;
}

#productWrapper #productDetailInfoWrapper {
  overflow-x: auto;
  margin: 5px 0;
  padding: 15px;
}

#productWrapper #productOptions {
  margin-top: 15px;
  height: 75px;
  border-radius: 5px;
  padding: 15px 5px 15px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #eee;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

#productWrapper #productOptions .optionName {
  color: #666;
}

#productWrapper #productOptions .option {
  font-weight: bold;
  margin-top: 10px;
}

#productWrapper #productOptions #productOptionImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

#productWrapper #productOptions .optionImage {
  height: 50px;
}

#productWrapper #dimmedOption {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

#productWrapper #dimmedOption #optionSliderWrapper {
  position: absolute;
  bottom: 0;
  background-color: white;
  width: 100vw;
  height: 240px;
  padding: 20px 0;
  overflow-y: auto;
}

#productWrapper #dimmedOption ul {
  white-space: nowrap;
}

#productWrapper #dimmedOption li {
  display: inline-block;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 5px;
  height: 200px;
  padding: 10px;
  margin: 0 10px;
  position: relative;
}

#productWrapper #dimmedOption li + li {
  margin-left: 0;
}

#productWrapper #dimmedOption li.selected {
  border: 1px solid #5e3eda;
}

#productWrapper #dimmedOption li.selected .dimmedSelected {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #5e3eda;
  opacity: 0.1;
}

#productBottomNavigation {
  width: 100%;
  height: 70px;
  background-color: white;
  box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
  padding: 10px;
}

#productBottomNavigation #productPutCartButton {
  width: 100%;
  height: 50px;
  background-color: #5e3eda;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
}
